body {
  margin: 0;
  padding: 0;
}

main {
  padding: 16px
}

img {
  height: 200px;
}

nav {
  border-bottom: 1px solid black;
  padding: 16px;
  background-color: #FF5A34;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.table-bg tr:nth-child(odd):not(:first-child) {
  background-color: lightgray;
}

nav > a {
  color: white;
  font-weight: 700;
}

footer {
  padding: 24px;
  background-color: #B5CF66;
}

a {
  color: rgb(99, 157, 45);
  text-decoration: none;
}

h1 {
  color:rgb(34, 120, 78)
}

/* When you want to set the padding of an element to 0 pixels in CSS, you can use either "0px" or just "0". Both are correct and will have the same effect. */